{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="dropdown m-2">
        <button class="btn btn-primary dropdown-toggle btn-group-sm" type="button" id="peak_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Peak Lists to Bag
        </button>
        <ul class="dropdown-menu" aria-labelledby="peak_dropdown">
            {% for peak_list in all_peaks_lists %}
            <li>
                <a class="dropdown-item" href="{{ url_for('list_view', list_id=peak_list.id) }}">{{ peak_list.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
