{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container">
    <h2>Lists You Are Bagging:</h2>
    {% if user_lists %}
    {% for list in user_lists %}
    <form action="{{ url_for('manage_individual_list', list_id=peak_list.id) }}" method="GET">
        <button type="submit">Manage</button>
    </form>

    {% endfor %}
    {% else %}
    <p>You are not subscribed to any lists yet.</p>
    {% endif %}


    <form method="POST">
        <h2>All Lists:</h2>
        {% for list in all_peaks_lists %}

        <div class="container m-2">
            <div class="btn-group btn-group-sm" role="group" aria-label="">
                <input type="checkbox" class="btn-check" name="subscribe_list" value="{{ list.id }}" id="btncheck{{ list.id }}" autocomplete="off" {% if list in user_lists %}checked{% endif %}>
                <label class="btn btn-outline-primary" for="btncheck{{ list.id }}">
                    {% if list in user_lists %}
                        Unsubscribe
                    {% else %}
                        Subscribe
                    {% endif %}
                </label>
            </div>
            {{ list.name }}
        </div>
        {% endfor %}
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>

{% endblock %}